.main {
  background-color: aqua;
  height: 8rem;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.main nav ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-around;
  list-style-type: none;
  font-weight: bold;
  cursor: pointer;
}
